
<form name="editForm" role="form" novalidate ng-submit="save()">

    <div class="modal-header">
        <button type="button" class="close" data-dismiss="modal" aria-hidden="true"
                ng-click="clear()">&times;</button>
        <h4 class="modal-title" id="myExpertContactRequestLabel" translate="profinetApp.expertContactRequest.home.createOrEditLabel">Create or edit a ExpertContactRequest</h4>
    </div>
    <div class="modal-body">
        <div class="form-group">
            <label for="id" translate="global.field.id">ID</label>
            <input type="text" class="form-control" id="id" name="id"
                    ng-model="expertContactRequest.id" readonly>
        </div>

        <div class="form-group">
            <label translate="profinetApp.expertContactRequest.approved" for="field_approved">Approved</label>
            <input type="checkbox" class="form-control" name="approved" id="field_approved"
                    ng-model="expertContactRequest.approved"
                    >

        </div>

        <div class="form-group">
            <label translate="profinetApp.expertContactRequest.userRequest" for="field_userRequest">userRequest</label>
            <select class="form-control" id="field_userRequest" name="userRequest" ng-model="expertContactRequest.userRequest.id" ng-options="user.id as user.login for user in users">
            </select>
        </div>
        <div class="form-group">
            <label translate="profinetApp.expertContactRequest.expertrequest" for="field_expertrequest">expertrequest</label>
            <select class="form-control" id="field_expertrequest" name="expertrequest" ng-model="expertContactRequest.expertrequest.id" ng-options="expert.id as expert.id for expert in experts">
            </select>
        </div>
    </div>
    <div class="modal-footer">
        <button type="button" class="btn btn-default" data-dismiss="modal" ng-click="clear()">
            <span class="glyphicon glyphicon-ban-circle"></span>&nbsp;<span translate="entity.action.cancel">Cancel</span>
        </button>
        <button type="submit" ng-disabled="editForm.$invalid || editForm.$submitted" class="btn btn-primary">
            <span class="glyphicon glyphicon-save"></span>&nbsp;<span translate="entity.action.save">Save</span>
        </button>
    </div>
</form>
